<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link type="text/css" href="/assets/style.css" rel="stylesheet">
    
      <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
        <!-- a navbar using bootstrap classes -->
    
        <nav class="nav navbar navbar-expand-md bg-dark navbar-dark fixed-top">
            <div class="container">
                <a href="/" class="navbar-brand">
                    <h3 class="d-inline align-middle">EMS</h3>
                </a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon">
    
                    </span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        
                        <li class="nav-item"><a href="/index" class="nav-link" style="font-size:25px; margin-right: 10px;">Add Employee</a></li>
                          
                    </ul>
                </div>
            </div>
    
       
    
        </nav>
  <div class="homepage">
    <div class="main-content">
      <div class="text-content">
        <h1>Sending Payslip <br><span class="amplified">amplified</span></h1>
        <p>Automate Sending Payslip with ease to every worker in the company</p>
        <div class="cta-buttons">
          <button class="get-started-btn">Get Started</button>
        </div>
      </div>
      <div class="image-content">
        <img src="/assets/img/Skillrank_image.png" alt="Simulation Screenshot">
        <div class="faster-hiring">85% Faster Sending</div>
      </div>
    </div>
  </div>

</body>
</html>
