<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="homepage">
    <div class="main-content">
      <div class="text-content">
        <h1>Sending Payslip <br><span class="amplified">amplified</span></h1>
        <p>Automate Sending Payslip with ease to every worker in the company</p>
        <div class="cta-buttons">
          <button class="get-started-btn">Get Started</button>
        </div>
      </div>
      <div class="image-content">
        <img src="/assets/img/Skillrank_image.png" alt="Simulation Screenshot">
        <div class="faster-hiring">85% Faster Sending</div>
      </div>
    </div>
  </div>

</body>
</html>
